# Logs
logs/
*.log

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.swp
